<div id="map-{{ note.pk }}" class="m-0 p-0" style="height: 400px; width: 400px;"></div>

{% block js %}

    <script type="text/javascript">

        $('#note-button-{{note.pk}}').click(function () {

            mark = {lat: {{note.marker.lat}}, lng: {{note.marker.lat}}}

            map = new google.maps.Map(document.getElementById('map-{{note.pk}}'), {
                center: mark,
                zoom: 8
            });
            marker = new google.maps.Marker({
                position: mark,
                map: map
            });
        });

    </script>

{% endblock %}