{% load i18n %}
<form class="diary-form form-group col-lg-8 col-sm-12" method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <div class="diary-edit-header block block-header">
        <h4 class="pl-3 mb-1">
            {% if is_creating %}
                {% trans 'New diary' %}
            {% else %}
                {% trans 'Edit diary' %}
            {% endif %}
        </h4>
    </div> <!-- diary-edit-header -->

    <div class="diary-edit-body block p-3">

        {% if current_diary %}
            <div class="alert alert-warning pl-2 p-0">
                <small>
                {% blocktrans %}
                    You have the active diary now. If you create new diary, status of current diary will be change on
                    'frozen'.
                {% endblocktrans %}
                </small>
            </div>
        {% endif %}

        {% for error in form_diary.non_field_errors %}
            <div class="alert alert-danger pl-2 p-0">
                <small>
                    {{ error }}
                </small>
            </div>
        {% endfor %}

        {% for error in form_diary.title.errors %}
            <div class="alert alert-danger pl-2 p-0">
                <small>
                    {{ error }}
                </small>
            </div>
        {% endfor %}


        <div class="row align-items-end">
            <div class="col-12">
                <label class="pl-2 mb-0" for="id_title"> {% trans 'Title' %}</label>
                {{ form_diary.title }}
            </div>
            <div class="col-12">
                {{ form_diary.about.errors }}
                <label class="pl-2 mb-0" for="id_about">{% trans 'Tell about this diary' %}</label>
                {{ form_diary.about }}
            </div>

            <div class="col-6">
                {{ form_diary.about.errors }}
                <label class="pl-2 mb-0" for="id_date_finish">{% trans 'Diary finish date' %}</label>
                {{ form_diary.date_finish }}
            </div>


            <div class="col-5 file-upload col-3 m-2">
                {{ form_diary.photo }}
                {{ form_diary.photo_file }}
                <label class="float-right btn m-0 btn-warning" for="id_photo">{% trans 'Set preview' %}</label>
            </div>

            <div class="col-12">
                {% for error in form_diary.date_finish.errors %}
                    <div class="alert alert-danger pl-2 p-0">
                        <small>
                            {{ error }}
                        </small>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <div id="image-prev" class="p-3">
                <!-- Стандартная картинка дневника -->
                {% load staticfiles %}
                <img src="{% static 'images/DefaultHouse.png' %}" class="img-fluid m-1">
            </div>
        </div>

    </div>

    <div class="diary-edit-footer block block-footer d-flex justify-content-center">
        {% if is_creating %}
            <input type="submit" class="btn btn-primary py-1" value="{% trans 'Create new diary' %}"/>
        {% else %}
            <input type="submit" class="btn btn-warning py-1" value="{% trans 'Save change' %}"/>
        {% endif %}
    </div> <!-- diary-edit-footer -->

</form>