<form method="post" id="form-message" enctype='multipart/form-data' action="{% url 'create_message' %}">
    {% csrf_token %}
    {{ form_message.non_field_errors }}

        <div class="fieldWrapper">
            {{ form_message.text.errors }}
            <label for="{{ form_message.text.id_for_label }}">Text:</label>
            {{ form_message.text }}
        </div>

    <div class="fieldWrapper">

        {{ form_attach.images }}
        {{ form_attach.images_file }}
    </div>

    <input type="submit" value="Send"/>
</form>