{% extends "base.html" %}

{% block title %}{{ user.username }} | House{% endblock %}

{% block head %}{{ user.username }} | House{% endblock %}

{% block content %}

    {% include 'HouseSerch/create_edit_house_block.html' %}

{% endblock %}
{% block modal %}
    {% include 'HouseSerch/includes/modal_question.html' %}
{% endblock %}

{% block script %}

    {% load staticfiles %}
    <script src="{% static 'js/house_edit_images.js' %}"></script>
    <script src="{% static 'js/ajax_load_countries.js' %}"></script>
    <script src="{% static 'js/correct_library.js' %}"></script>
    <script src="{% static 'js/jcreate_house.js' %}"></script>

{% endblock %}