{% extends "base.html" %}

{% block title %}House search{% endblock %}

{% block external %}
    {{ block.super }}
    {% load staticfiles %}
    {% comment %}
    <!-- >jquery-ui для вывода ползунка </!-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/search.css' %}">
    <script src="{% static '/js/jquery_3_3_1.min.js' %}"></script>


{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center">
        <div class="col-10">

            <div class="search-header block block-header col-12">
                {% include 'HouseSerch/multi_search_form.html' %}
                <div class="col-12">
                    {{ message }}
                </div>
            </div>

            {% include 'HouseSerch/includes/houses_list.html' %}

            <div class="block block-footer col-12">
                {% include 'HouseSerch/includes/paginatin_block.html' %}
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

    {% load staticfiles %}
    <!-- >jquery-ui для вывода ползунка </!-->
    {% comment %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endcomment %}


    <!-- >Подгружает вписок стран для выбора </!-->
    <script type="text/javascript" src="{% static "js/ajax_load_countries.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jsearch.js" %}"></script>
{% endblock %}